# SchemaCrawler AI
# http://www.schemacrawler.com
# Copyright (c) 2000-2026, Sualeh Fatehi <sualeh@hotmail.com>.
# All rights reserved.
# SPDX-License-Identifier: BUSL-1.1

spring:
  main:
    banner-mode: off
  application:
    name: schemacrawler-mcpserver
  ai:
    mcp:
      server:
        enabled: true
        type: SYNC
        name: schemacrawler-mcpserver
server:
  heartbeat: true

---
spring:
  config:
    activate:
      on-profile: stdio
  main:
    web-application-type: none
  ai:
    mcp:
      server:
        stdio: true

---
spring:
  config:
    activate:
      on-profile: http
  server:
    port: 8080
  ai:
    mcp:
      server:
        protocol: STREAMABLE
        stdio: false
        allowed-origin: '*'
        streamable-http:
          disallow-delete: true
