name: Create Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC authentication
      contents: write # Required to create a new tag
    steps:

# VALIDATE TAGS
    - id: validate-semver
      name: Validate tag against semantic versioning
      if: startsWith(github.ref, 'refs/tags/')
      shell: bash
      run: |
        SEMVER_PATTERN="^refs/tags/v(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$"
        if [[ ! $GITHUB_REF =~ $SEMVER_PATTERN ]]
          then
            echo "Tag $GITHUB_REF does not follow semantic versioning"
            exit 1
          fi

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.6.1
      with:
        java-version: 21

# BUILD FOR DISTRIBUTION
    - id: build
      name: Build and test for distribution
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          clean install

# CREATE GITHUB RELEASE
    - id: create-release
      name: Create GitHub release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        token: ${{ secrets.RELEASE_TOKEN }}
        name: ${{ github.ref_name }}
        draft: false
        prerelease: false
        body: |
          SchemaCrawler AI ${{ github.event.release.tag_name }} release at last commit ${{ github.sha }}
        generate_release_notes: true

# MOVE GITHUB TAG
    - id: install-gitsign
      name: Install gitsign for commit signing
      # See https://github.com/chainguard-dev/actions/blob/main/setup-gitsign/action.yml
      uses: chainguard-dev/actions/setup-gitsign@f77a7c3431f961556be5a41e2602c450a590f3e5
    - id: move-tag
      name: Move docker-mcp-registry tag
      env:
        GITSIGN_CONNECTOR_ID: "https://github.com/login/oauth"
        GITSIGN_TOKEN_PROVIDER: "github-actions"
      shell: bash
      run: |
        # Move docker-mcp-registry tag
        # Set up user
        git config user.name "Sualeh Fatehi"
        git config user.email "sualeh@hotmail.com"
        # Confirm gitsign is installed
        gitsign --version
        # Move tag
        git tag -d docker-mcp-registry || true
        git push --delete origin docker-mcp-registry || true
        git tag -a docker-mcp-registry -m "SchemaCrawler AI Early Access Release"
        git push --follow-tags origin docker-mcp-registry
        git show --no-patch docker-mcp-registry
